.latest-updates{
  padding:24px 12px;
}

.updates-header{
  margin-bottom:20px;
}

.updates-header h2{
  margin:0;

  font-size:24px;
  font-weight:900;

  color:#1f1f1f;

  font-family:'Montserrat',sans-serif;
}

.updates-header p{
  margin-top:6px;

  color:#777;

  font-size:13px;
}

.updates-list{
  display:flex;
  flex-direction:column;

  gap:12px;
}

.update-card{
  background:#fff;

  border-radius:20px;

  padding:16px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  border:1px solid #f0f0f0;

  box-shadow:
    0 8px 24px rgba(0,0,0,.04);
}

.update-card h3{
  margin:0;

  font-size:15px;
  font-weight:800;

  color:#d50000;

  font-family:'Montserrat',sans-serif;
}

.update-card p{
  margin-top:4px;

  font-size:11px;

  color:#888;
}

.update-result{
  font-size:22px;
  font-weight:900;

  color:#d50000;

  font-family:'Montserrat',sans-serif;
}